.search-bar{
  margin: 20px;
  text-align: center;
}

.search-bar input{
  width: 50%;
}

.video-item img{
  max-width: 64px;
}

.video-detail .details{
  margin-top: 10px;
  width: 522px;
  height: 102px;
  margin-left: 0px;
 
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.list-group-item{
  cursor: pointer;
  margin-left: 810px;
  padding-right: 10px;
  width: 400px;
  bottom:550px;
}

.list-group-item:hover{
  background-color: #eee;
}