.search-bar{
  margin: 20px;
  text-align: center;
  border: 2px solid gray;
  background-color: red;
}

.search-bar input{
  width: 50%;
  /* background-color: red; */
}

.video-item img{
  max-width: 64px;
}

.video-detail .details{
  margin-top: 10px;
  width: 630px;
  height: 120px;
  margin-left: 0px;
 
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.list-group-item{
  cursor: pointer;
  margin-left: 810px;
  padding-right: 10px;
  width: 400px;
  bottom:550px;
}

.list-group-item:hover{
  background-color: #eee;
}
/* .you {
  background-image: url(./Component/you.png);
} */