.videoPlayer{
    /* border: 2px solid black; */
    height: 100px;
    width: 50%;
}

.body{
    height: 100%;
    width: 100%;
}

#Search{
    display: inline-block;
    /* margin: auto; */
    width: 85%;
    /* min-width:300px; */
    margin-top: 1%;
}

.searchBar{
    display: block;
    margin: auto;
    max-width:25%;
    min-width: 6%;
}

.searchBar1{
    display: block;
    margin: auto;
    width: 560px;
}

.videoList{
    display: grid;
}

.item {
    cursor: pointer;
    
}